<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <div class="DiseñoM">
           <p class="Diseño">Diseño Multimedia</p>
           <ul class="paginas">
               <a class="links" href="/index.html">Inicio</a></li>
               <a class="links" href="/layout/nosotros.html">Nosotros</a></li>
               <a class="links" href="/layout/servicios.html">Servicios</a></li>
               <a class="links" href="/layout/contacto.html">Contacto</a></li>
           </ul>
        </div>
      <div class="linea"></div>
   </nav>
   <div class="suscribete1"></div>
   <p class="text1">Suscribete a nuestro boletin</p>
   <input type="email" placeholder="Ingresa email" class="email1">
   <button class="btn11">Suscribirse</button>
   <div>
</header>
<body>
    <div>
        <h2 class="Noso">Nosotros</h2>
        <p class="lorem7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laudantium reprehenderit tempora eveniet, ratione maiores nisi ad quas fuga molestias dignissimos, mollitia ipsum labore magnam unde quae veniam minus commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam nostrum ducimus modi maiores sed eligendi voluptatibus, consequatur cum rerum similique animi iusto distinctio amet neque eos ex vitae tenetur.</p>



    </div>
    <div class="cajaHacemos">
        <h2 class="text5">Que hacemos</h2>
        <p class="lorem6">lo Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae aspernatur non ad eligendi nostrum aliquid deleniti veritatis ratione, laudantium, exercitationem sed laboriosam ullam tenetur harum? Iure voluptatibus voluptas debitis impedit.</p>
    </div>
    <div class="cajalo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime provident placeat, quam nesciunt praesentium a quo! Quis esse maxime omnis recusandae nisi, in officiis asperiores reprehenderit iste soluta, optio repellat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta possimus deleniti quasi id repellendus ipsa iste et labore nihil alias porro inventore aliquam totam mollitia, adipisci, veritatis cupiditate cum dicta! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil id obcaecati iusto eos ad ipsum dolorum magni est. Ullam modi qui officiis possimus architecto aut ab praesentium, voluptas nostrum blanditiis.</p>
    </div>
    <div>
        <img src="/images/891.jpg" alt="" class="img6">
    </div>
</body>
<footer>
    <p class="textofoo">Graphel Desarrollo Web, Copyrigth © 2017</p>
</footer>
</html>