<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<header>
    <nav>
        <div class="DiseñoM">
           <p class="Diseño">Diseño Multimedia</p>
           <ul class="paginas">
               <a class="links" href="/index.html">Inicio</a></li>
               <a class="links" href="/layout/nosotros.html">Nosotros</a></li>
               <a class="links" href="/layout/servicios.html">Servicios</a></li>
               <a class="links" href="/layout/contacto.html">Contacto</a></li>
           </ul>
        </div>
      <div class="linea"></div>
   </nav>
   <div class="suscribete1"></div>
   <p class="text1">Suscribete a nuestro boletin</p>
   <input type="email" placeholder="Ingresa email" class="email1">
   <button class="btn11">Suscribirse</button>
   <div>
</header>
<body>
    <div class="cajaHacemos1">
        <h2 class="text7">Que hacemos</h2>
        <p class="lorem8">lo Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae aspernatur non ad eligendi nostrum aliquid deleniti veritatis ratione, laudantium, exercitationem sed laboriosam ullam tenetur harum? Iure voluptatibus voluptas debitis impedit.</p>
    </div>
     <h2 class="text8">Servicios</h2>
    <div class="diseñoW">
        <h2 class="titulodiseño">Diseño Web</h2>
        <p class="lorem9">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum inventore est qui velit? Velit distinctio iste aliquid enim labore quibusdam, rerum alias iure sapiente non adipisci ratione sint est nulla.</p>
        <p class="precio">Precio   $300000 - $1000000</p>
    </div>
    <div class="diseñoW1">
        <h2 class="titulodiseño1">Diseño Web</h2>
        <p class="lorem10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum inventore est qui velit? Velit distinctio iste aliquid enim labore quibusdam, rerum alias iure sapiente non adipisci ratione sint est nulla.</p>
        <p class="precio1">Precio   $300000 - $1000000</p>
    </div>
    <div class="diseñoW2">
        <h2 class="titulodiseño">Diseño Web</h2>
        <p class="lorem11">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum inventore est qui velit? Velit distinctio iste aliquid enim labore quibusdam, rerum alias iure sapiente non adipisci ratione sint est nulla.</p>
        <p class="precio2">Precio   $300000 - $1000000</p>
    </div>
</body>
<footer>
    <p class="textofoo">Graphel Desarrollo Web, Copyrigth © 2017</p>
</footer>
</html>